.navHorizontal{
	padding: 2rem 25rem 2rem 25rem;
	background-color: #457B9D;
	color: white;
    padding-left: 5%;
	margin: 0;
	height: 0;
	top: 0;
}
.navHorizontal a{
	color: white;
	letter-spacing: 0.1rem;
	font-size: 1rem;
}