.navHorizontal{
	padding: 1rem 25rem 1rem 25rem;
	background-color: #88b6d3;
	color: white;
    padding-left: 5%;
	margin: 0;
	height: 0;
	top: 0;
}
.navHorizontal a{
	color: white;
	letter-spacing: 0.1rem;
	font-size: 1rem;
}