.informacion{
margin-left: 50px;
margin-right: 50px;
}
.informacion h2{
	text-align: center;
	font-size: 2rem;
	color: black;
}

.informacion p{
	justify-content: center;
	padding: 0;
	color: black;
}